---
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";

import "../styles/reset.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Section1 />
      <Section2 />
      <Section3 />
    </main>
  </body>
</html>
