---
---

<main>
  <section class="bgi-web">
    <h1>Pierre Falcke</h1>
  </section>
  <div class="fotoPierre"></div>
  <div class="text">
    <p>
      Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort
      tid siden, så du hans værker et par gange om dagen, hver dag, året rundt.
      Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han
      solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at
      bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
    </p>
  </div>
</main>
<style>
  /* @font-face {
    font-family: special-elite;
    src: url("../fonte/Special_Elite/SpecialElite-Regular.ttf");
  } */
  main {
    background-color: #363434;
  }
  .bgi-web {
    display: grid;
  }

  .bgi-web > div,
  h1 {
    grid-area: 1/1;
    align-self: center;
    justify-self: center;
    /* font-family: special-elite; */
  }
  h1 {
    color: #1e1e1e;
    font-size: 10vw;
    transform: rotate(-5deg);
  }

  .fotoPierre {
    background-image: url("../asset/images/pierre.jpeg");
    aspect-ratio: 16/9;
    background-size: 100%;
    max-width: 80%;
    background-repeat: no-repeat;
    margin: -127% 0 0 10%;
    border: 10px solid white;
  }

  .bgi-web {
    background-image: url("../asset/images/collage-mobile-caseopgave-1.webp");
    aspect-ratio: 9/16;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    max-width: 65vw;
    line-height: 230%;
    color: beige;
    margin-top: 35rem;
    margin-bottom: 10rem;
    font-size: 3vw;
  }

  @media screen and (min-width: 800px) {
    h1 {
      grid-area: 1/1;
      align-self: center;
      justify-self: center;
      color: #1e1e1e;
      font-size: 4vw;
      transform: rotate(-5deg);
    }
    .fotoPierre {
      background-image: url("../asset/images/pierre.jpeg");
      aspect-ratio: 16/9;
      background-size: 100%;
      max-width: 40%;
      background-repeat: no-repeat;
      margin: -47% -80% 0 30%;
      border: 20px solid white;
    }
    .bgi-web {
      background-image: url("../asset/images/dekstop-collage-caseopgave.webp");
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
    }

    p {
      max-width: 50vw;
      line-height: 230%;
      color: beige;
      margin-top: 40rem;
      margin-bottom: 20rem;
      font-size: 1.3vw;
    }
  }
</style>
<script>
  // import { gsap } from "gsap";
  // import { ScrollTrigger } from "gsap/ScrollTrigger";
  // gsap.registerPlugin(ScrollTrigger);

  // gsap.from(".text", {
  //   x: 500,
  //   scale: 2,
  //   opacity: 0.5,
  //   ease: "elastic.out(1,0.3)",
  //   duration: 2,
  //   scrollTrigger: {
  //     trigger: ".ball-2",
  //     start: "start 50%",
  //     end: "bottom 20%",
  //     toggleActions: "play none none reverse",
  //     // markers: true,
  //   },
  // });
</script>
