---
---

<main>
  <section class="bgi-web">
    <div class="fotoPierre"></div>
    <h1>Pierre Falcke</h1>
  </section>

  <p>
    Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid
    siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre
    Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over
    2 millioner fotos om året. Men Pierre kunne ikke drømme om at bruge sine
    egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
  </p>
</main>
<style>
  /* background-color: #363434; */
  main {
    background-color: #363434;
  }
  .bgi-web {
    display: grid;
  }

  .bgi-web > div,
  h1 {
    grid-area: 1/1;
    align-self: center;
    justify-self: center;
  }

  .fotoPierre {
    background-image: url("../asset/images/dekstop-collage-caseopgave.webp");
    aspect-ratio: 16/9;
    background-size: 30%;
  }

  .bgi-web {
    background-image: url("../asset/images/dekstop-collage-caseopgave.webp");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
  }

  p {
    max-width: 65vw;
    color: beige;
  }
</style>
