---
---
<section class="bgiOverskrift">
<article class="bgi-mobile">
   
</article>
<h1>
  Pierre Falcke  
</h1>
</section>

<p>Pierre Falcke. Du ved formentligt ikke hvem han er. 
Men indtil for kort tid siden, så du hans værker et par 
gange om dagen, hver dag, året rundt. Pierre Falcke var 
en af verdens bedst sælgende stock-fotografer, og han solgte 
over 2 millioner fotos om året. Men Pierre kunne ikke drømme 
om at bruge sine egne fotos - faktisk kan han ikke fordrage 
sit eget arbejde.
</p>

<style>
    .bgiOverskrift{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        z-index: 1;
    }
    article{
        background-image: url("");
    }


</style>